#contato label{
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
    font-family: Arial;
    color: #888;
    display: block;
    margin-top: 20px;
}


.fixFloat{
    clear: both;
}

body{
    margin: auto;
    width: 960px;
    padding: 0px;
    background-color: #ddd;
    background: url(fundo.gif) repeat-x;
    overflow-y: scroll;
}

#cabecalho img{
    float: left;
}

#social{
    float: right;
    margin-top: 61px;
    
}
#social img{
    width: 32px;
    height: 32px;
    
}

#menu{
    float: left;
    margin-top: 93px;
    width:453px; 
   
}
#menu ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    background: linear-gradient(to bottom, #ddd, #666); 
}
#menu li{
    height: 57px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 150px;
    border-right: 1px solid #062;
}
#menu ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
}

#banner{
    margin-top: 15px;
}
#banner img{
    width: 960px;   
}

#lateral{
    float: right;
    margin-top: 5px;
    background: #ddd;
    width: 190px;
    padding: 10px;
    border-radius: 15px;
}
#lateral h1{
    font-size: 25px;
    text-align: center;
    border-bottom: #000 solid 1px;
    margin-top: -5px;
}
#lateral h2{
    font-size: 20px;
   
}
#lateral p{
    text-align: justify;
}

#main{
    background: #eee;
    width: 730px;
    border-radius: 15px;
    margin-top: 5px;
    padding: 5px;
    
}
#main h1{
    font-size: 25px;
    border-bottom: #000 solid 1px;
}
#main h2{
    font-size: 20px;
}
#main p{
    text-align: justify;
}

#rodape{
    background-color: #666;
    border-radius: 15px 15px 0px 0px;
    color: #fff;
    border: #000 solid 1px;
    
}
#rodape p{
    display: inline-block;
    width: 316px;
    text-align: center;
}
#rodape a{
    text-decoration: none;
    color: #fff;
}

details{
    margin-top: 30px;
    cursor: pointer;
}
details p{
    font-size: 20px;
}
summary{
    
    height: 40px;
    font-size: 20px;
    background: linear-gradient(to bottom, #eee, #999);
    font-weight: bold;
    padding: 20px 0px 0px 10px;
    border-radius: 15px;
}
details [open] summary{
    color: #fff;
    background: linear-gradient(to bottom, #eee, #900);
}
details open{
    background: #eee;
}